html{
    height: auto;
    width: 100%;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#F4442E,#2B0504);
    color: white;
    padding-top:60px;
}

.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
    width: 1000px;
    height: 200px;
    justify-content: center;
}

.intro{
    margin-top: 60px;
    font-weight: bold;
}

.pic1{
    background-color:blue;
    width: 200px;
    height: 230px;
}


.pic2{
    background-color:green;
    width: 200px;
    height: 230px;
}

.pic3{
    background-color:yellow;
    width: 200px;
    height: 230px;
}

.pic4{
    background-color:peru;
    width: 200px;
    height: 230px;
}

.pic5{
    background-color:palevioletred;
    width: 200px;
    height: 230px;
}

.loginpics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.explanation{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.myform{
    max-width: 100%;
}

.modal-body{
    padding:0px;
}

.btn-close{
    position:absolute;
    right: 0;
    padding: 1em;
}

.modal-content{
    width: 80%;
    margin:0 auto;
}

.modal-body{
    padding: 0;
}

#signintitle{
    font-size: 2.3em;
    font-weight: bold;
}

#loginform{
    background-image:linear-gradient(#F4442E,#2B0504);
    border-radius: 25px;
}

#formcontent{
    border-radius: 30px;
}

.myform{
    padding: 2em;
    max-width: 100%;
    color: white;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    @media(max-width:576px){
        max-width:90%;
        margin:0px auto;
    }
}

.form-control{
    border-radius: 1.1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#signed_username{
    border-radius: 1.1rem;

}
#signed_password{
    border-radius: 1.1rem;

}

#username{
    border-radius: 1.1rem;

}

#password{
    border-radius: 1.1rem;

}

#email{
    border-radius: 1.1rem;

}

.myform .btn{
    width:50%;
    font-weight: 400;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    padding: 0.5em 0;
    border: none;
}



.myform .btn:hover{
    color:#333
}

p{
    text-align: center;
    padding-top:2em;
}

p a{
    color:#e1e1e1;
    text-decoration: none;
}

p a:hover{
    color: white;
}

.signButtons{
    display: flex;
    gap: 50px;
}

#signIn{
    background-color: orangered;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

#signIn:hover{
    background-color: #2B0504;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
}

#signIn2{
    background-color: orangered;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

#signIn2:hover{
    background-color: #2B0504;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
}

#signUp{
    background-color: orangered;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
    transition: ease-in-out 0.2s;
}

#signUp:hover{
    background-color: #2B0504;
    border: none;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    color: white;
    font-weight: 500;
}

.icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.bi{
    width: 50px;
    height: 50px;
}

#pic1{
    width: 200px;
    height: 230px; 
}

#pic2{
    width: 200px;
    height: 230px
}

#pic3{
    width: 200px;
    height: 230px; 
}

#pic4{
    width: 200px;
    height: 230px;  
}

#pic5{
    width: 200px;
    height: 230px;  
}



/*Nav bar styling*/

:root {
    --primary: #401414;
    --secondary: #BA392B;
    --on-primary: #CE2B23;
    --on-secondary: #F4442E;
}


#Icon_metro-menu{
    margin-top: 50%;
    cursor: pointer;
}
#Icon_account{
    margin-top:30%;
    margin-left:5%;
    cursor: pointer;
}

div.container{
    max-width: fit-content;
    height: 60px;
    text-align: left;
    cursor: pointer;
}

#navigation{
   background-color: var(--primary);
   z-index: 5;
   position: fixed;
   top: 0;
}


.list-group-item{
    background-color: var(--on-secondary);
}

.navbar{
    padding: 0;
}
a.navbar-brand{
    margin-left: 4%;
    color: white;
    opacity: 80%;
}
a.navbar-brand:hover{
    color: var(--on-secondary);
}

form.d-flex{
    margin-right: 30%;
    width: 40%;
}
input.form-control.mt-2.mb-2.d-flex{
    border-radius: 1.1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn.d-flex{
    height: fit-content;
    background-color: var(--on-primary);
    border-radius: 1.1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Slide Menu Styling*/

#content{
    background-color: var(--on-secondary);
    z-index: 3;
    position: fixed;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 2;
}

#sidebar-nav {
    width: 200px;
    border-style: none; 
    
}

#sidebar{
    height: auto;
}

li a {
    color: white;
}

li a:hover{
    color: black;
}

.list-unstyled{
    margin-top:20px ;
}

.h-color{
    height:0px;
    border:none;
    border-top:1px solid black;
}

/*Footer styling*/

footer{
    background-color: #663D3A;
    width: auto;
    position: fixed;
    bottom:0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 2px;

}